{%extends "base.html"%}
{%block content%}
<div class="col-xs-12 col-md-10">
	<ol class="breadcrumb">
		<li><a href="/">首页</a></li>
		<li ><a href="/article/list/{{b.id}}">{{b.name}}</a></li>

		<li class="active">发表文章</li>
	</ol>
</div>	
<div class="col-xs-12 col-md-2">
	<div class="well">个人中心</div>
</div>

{%for field in form %}
	{% if field.errors %}
		{%for error in field.errors%}
    		<div class="alert alert-danger">{{field.label}}:{{error}} </div>
		{%endfor%}
	{% endif %}
{%endfor%}
<div>
<form class="form-horizontal" method="POST" > {% csrf_token %}
  <div class="form-group">
    <label for="inputTitle" class="col-xs-12 col-md-2 control-label">标题：</label>
    <div class="col-xs-12 col-md-8">
      <input type="text" class="form-control" id="inputTitle"  name="title" required value="{{form.title.value}}" />
    </div>
  </div>
  <div class="form-group">
    <label for="inputTitle" class="col-xs-12 col-md-2 control-label">内容：</label>
    <div class="col-xs-12 col-md-8">
      <textarea name="content" id="contentInput" class="form-control" cols="100" rows="20">{{form.content.value}}</textarea>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary"  onclick="return setContent()">发表</button>
    </div>
  </div>
</form>
	
</div>


{%endblock%}